* {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}

#input {
  width: 75%;
}

#myRange {
  width: 75%;
}

#word{
    margin-top: 2%;
}

#live{
    margin: 2%;
}

#word {
  font-weight: bolder;
}

#word a {
  font-weight: bolder;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

textarea:focus, input:focus{
  outline: none;
}

.normalText {
  background-color: lightgray;
}

.redText {
  background-color: red;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.5; /* Firefox */
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  p {
    color: black;
  }
  button {
    border: solid black 2px;
    background-color: white;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
  p {
    color: white;
  }

  div {
    color: white;
  }

  button {
    border: solid white 2px;
    background-color: black;
    color: white;
  }

  .normalText {
    background-color: gray;
  }
}
